/* 
primary: "#5077B0",
secondary: "#000E7B",
warning: "#E36B6B",
success: "#EED9A7",
light: "#F0F0F0",
dark: "#3E3E3E", 
*/
@import url("//db.onlinewebfonts.com/c/224fa16aa5b4f0418ad1e32e58da4973?family=PSL+KandaExtra+Pro+");

body {
  background-color: #f0f0f0;
}

* {
  font-family: "PSL KandaExtra Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#AnimationAI {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: animationAI 3s ease 0s infinite normal none;
}

#AnimationDefault {
  background-image: url("assets/svg/นั่ง1.svg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#AnimationDefaultWelcome {
  background-image: url("assets/Anatomy/นั่ง+1.svg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes animationAI {
  0.0% {
    background-image: url("assets/svg/นั่ง1.svg");
  }
  20.0% {
    background-image: url("assets/svg/นั่ง+2.svg");
  }
  40.0% {
    background-image: url("assets/svg/นั่ง1.svg");
  }
  60.0% {
    background-image: url("assets/svg/Movement+พยักหน้า.svg");
  }
  80.0% {
    background-image: url("assets/svg/นั่ง1.svg");
  }
  100.0% {
    background-image: url("assets/svg/นั่ง+2.svg");
  }
}
