/* 
primary: "#5077B0",
secondary: "#000E7B",
warning: "#E36B6B",
success: "#EED9A7",
light: "#F0F0F0",
dark: "#3E3E3E", 
*/
@import url("//db.onlinewebfonts.com/c/224fa16aa5b4f0418ad1e32e58da4973?family=PSL+KandaExtra+Pro+");

body {
  background-color: #f0f0f0;
}

* {
  font-family: "PSL KandaExtra Pro", sans-serif;
}
